input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
text,
p,
td {
  color: white !important;
}

hr {
  background-color: white;
}
